.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Relatorio-2023.aux
Relatorio-2023.log
Relatorio-2023.tex
Relatorio_2023.pdf
Figuras_png
Relatorio_2023.md
Relatorio_2023_cache
Relatorio_2023_files
